<ion-content>
  <!-- Primer congreso -->
  <h1 style="padding-top: 5%" class="main-title">
    I Congreso de Valencia:
    <i>“Deconstruyendo las nuevas tendencias educativas</i>
    qué muestran y qué esconden”
  </h1>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Presentación:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/ESsovc9sXiw?si=guAIH50a-i9CiYNC"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Ponencia inaugural e intervenciones online:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/QsQaVu9KK0A?si=dSTovqQsogpWuZ3V"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/in6wArqjGBk?si=IvEDDho9PpzhmboB"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/rCHD-64B__c?si=SzATENvNYWvxYs8U"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Mesas redondas:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/B5OLzqGnRxc?si=O0ZPoZLJkB8ZgMGV"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/cmq8NOzxvnM?si=Qey0peDq9nlcG_aG"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/TMWEqMDcPVU?si=y77fx9tX4uZ5gC1l"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/QgkmGSbMbrk?si=pMCLN7g-JdThFfpc"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- Segundo congreso -->
  <h1 class="main-title">
    II Congreso de Barcelona: <i>“La necesidad social del conocimiento”</i>
  </h1>

  <div class="section">
    <h2 class="section-title">Presentación y ponencia inaugural:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/2sj9vF_3es0?si=Uqu32KDUB3rZg5IA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Mesas redondas:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/d7vB69991Mw?si=TGoSVjlZNsBDp4vI"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/OIlzrgASZ8U?si=UF6_BjHq3OsHU8Oi"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/0vczEWhamGs?si=gtRdB98LRfZ41smL"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- Tercer congreso -->
  <h1 class="main-title">
    III Congreso de Madrid:
    <i>“LA EDUCACIÓN SIN PULSO. ¿Qué hacer tras PISA?”</i>
  </h1>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Presentación, bienvenida y primera ponencia:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/klMYuN4WeBM?si=q1SxQ-mgCd2nDoLa"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Presentación del Col·lectiu Hèlios - OCRE IB:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/tJpixAozT_8?si=P_asMpjWoSrxjNjD"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Mesas de debate:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/NHY2wWkdpaY?si=YxCiXCK46aQASjp5"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/XrG9D7GUJWQ?si=_bdsmxJfPpyH3Z5k"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Ponencias individuales:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/09ATebkojZk?si=LXqSR-QMd2SBy_St"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/hOPsOZ6jKF8?si=MMAIOZcVn_-InPYp"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="linea-decorativa"></div>
  <ion-footer class="no-border-footer"
    ><app-pie-pagina></app-pie-pagina
  ></ion-footer>
</ion-content>
