<ion-content>
  <!-- Primer congreso -->
  <h1 style="padding-top: 5%" class="main-title">
    I Congreso de Expertos Docentes para un Análisis Crítico de la Educación en
    Valencia:
  </h1>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Presentación:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/ESsovc9sXiw?si=guAIH50a-i9CiYNC"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Ponencias:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/QsQaVu9KK0A?si=dSTovqQsogpWuZ3V"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/in6wArqjGBk?si=IvEDDho9PpzhmboB"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/rCHD-64B__c?si=SzATENvNYWvxYs8U"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Mesas redondas:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/rCHD-64B__c?si=laKIMexic9_Y3svV"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/cmq8NOzxvnM?si=Qey0peDq9nlcG_aG"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/TMWEqMDcPVU?si=y77fx9tX4uZ5gC1l"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/QgkmGSbMbrk?si=pMCLN7g-JdThFfpc"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- Segundo congreso -->
  <h1 class="main-title">
    II Congreso de Expertos Docentes para un Análisis Crítico de la Educación en
    Barcelona:
  </h1>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Mesas:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/2sj9vF_3es0?si=W22HNzvvtREGC7ll"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/d7vB69991Mw?si=TGoSVjlZNsBDp4vI"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/OIlzrgASZ8U?si=UF6_BjHq3OsHU8Oi"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/0vczEWhamGs?si=gtRdB98LRfZ41smL"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- Tercer congreso -->
  <h1 class="main-title">
    III Congreso de Expertos Docentes para un Análisis Crítico de la Educación
    en Madrid:
  </h1>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Presentación, bienvenida y primera ponencia:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/tJpixAozT_8?si=djpdjq2b6Pv2bT0s"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Mesas:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/NHY2wWkdpaY?si=YxCiXCK46aQASjp5"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/XrG9D7GUJWQ?si=_bdsmxJfPpyH3Z5k"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- sección -->
  <div class="section">
    <h2 class="section-title">Ponencias:</h2>
    <div class="video-scroll-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/tJpixAozT_8?si=djpdjq2b6Pv2bT0s"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/09ATebkojZk?si=LXqSR-QMd2SBy_St"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/hOPsOZ6jKF8?si=MMAIOZcVn_-InPYp"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="linea-decorativa"></div>
  <ion-footer class="no-border-footer"
    ><app-pie-pagina></app-pie-pagina
  ></ion-footer>
</ion-content>
