<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="home" href="/">
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info" href="/congreso/info">
      <ion-label>Presentación</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="programa" href="/congreso/programa">
      <ion-label>Programa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ponentes" href="/congreso/ponentes">
      <ion-label>Ponentes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ponencias-y-mesas-anteriores" href="/congreso/ponencias-y-mesas-anteriores">
      <ion-label>Años anteriores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="datos" href="/congreso/prensa">
      <ion-label>Prensa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inscripcion" href="/congreso/inscripcion">
      <ion-label>Inscripción</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
