<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="Inicio"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="programa" href="/tabs/programa">
      <ion-icon aria-hidden="true" name="Programa"></ion-icon>
      <ion-label>Programa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ponentes" href="/tabs/ponentes">
      <ion-icon aria-hidden="true" name="Ponentes"></ion-icon>
      <ion-label>Ponentes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="datos" href="/tabs/datos">
      <ion-icon aria-hidden="true" name="Datos"></ion-icon>
      <ion-label>Datos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inscripcion" href="/tabs/inscripcion">
      <ion-icon aria-hidden="true" name="Inscripcion"></ion-icon>
      <ion-label>Inscripción</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
