<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="congreso-info" href="/tabs/congreso-info">
      <ion-label>Presentación</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="programacion" href="/tabs/programa">
      <ion-label>Programa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ponentes" href="/tabs/ponentes">
      <ion-label>Ponentes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="datos" href="/tabs/datos">
      <ion-label>Datos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inscripcion" href="/tabs/inscripcion">
      <ion-label>Inscripción</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
