<ion-content [fullscreen]="true">
  <ion-content>
    <!-- Primer apartado: Ponencias individuales -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Ponencias individuales</h2>
          <div class="linea-decorativa"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Inger.jpeg"
                class="foto-participante"
              />
              <ion-title>Inger Enkvist</ion-title>
            </div>
            <p>
              Catedrática de filología española, Centro de lenguas y literatura
              (Universidad de Lund, Suecia). Miembro del Consejo sueco de
              educación superior (2002- 2006). Premio intercultural del
              Instituto Cervantes (2014). Premio Foro España a los Valores
              Educativos (2024). Algunas de sus publicaciones sobre educación en
              español son La buena y la mala educación. Ejemplos
              internacionales. Madrid: Encuentro, 2011; La educación. Guía para
              perplejos. Madrid: Encuentro, 2014; El complejo oficio del
              profesor. Madrid: Fineo, 2016; Controversias educativas.
              Conversaciones con Inger Enkvist recogidas por Olga Rodríguez
              Sanmartin. Madrid: Encuentro: 2019; Conocimiento en crisis. Las
              ideologías en la educación actual con ejemplos de Suecia. Madrid:
              Tecnos, 2022.
            </p>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Carlos-Javier.jpeg"
                class="foto-participante"
              />
              <ion-title> Carlos Javier </ion-title>
              <ion-title> González Serrano </ion-title>
            </div>
            <p>
              Profesor de Filosofía y Psicología y orientador en Bachillerato.
              Es articulista en diversos medios escritos y colaborador habitual
              en radio y televisión. Colabora asiduamente con universidades
              nacionales e internacionales, director científico del Café del
              Observatorio Social de la Fundación "la Caixa". Es autor del libro
              de cuentos filosóficos infantiles El mundo según Lea y del exitoso
              ensayo Una filosofía de la resistencia.
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
                <a
                href="https://www.rtve.es/play/audios/a-la-luz-del-pensar/"
                target="_blank"
                style="color: #067fef; font-weight: bold"
                >A la luz del pensar (RNE)</a
              >
              <br />
              <a
                href="https://elvuelodelalechuza.com"
                target="_blank"
                style="color: #067fef; font-weight: bold"
                >El vuelo de la lechuza</a
              >
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Segundo apartado: Comunicaciones breves -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Comunicaciones breves</h2>
          <div class="linea-decorativa"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Antonio-Ivan.jpeg"
                class="foto-participante"
              />
              <ion-title>Antonio Iván</ion-title>
              <ion-title>Rodríguez López</ion-title>
            </div>
            <p>
              Maestro de Educación Primaria, especialidad de Educación Física.
              Actualmente cursando el Máster de Investigación e Innovación en
              Currículum y Formación en la UGR. Entrenador y coordinador de
              baloncesto, CD Ramón y Cajal, 2012-21. Ponente en talleres de
              formación como Evaluación formativa y compartida: técnicas e
              instrumentos de evaluación. Facultad de Ciencias de la Actividad
              Física y del Deporte (Universidad de Granada).
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
                <a href="https://www.youtube.com/@ant0nivanRL" target="_blank" class="social-logo">
                  <img src="assets/icon/youtube.png" alt="YouTube">
                </a>
                <a href="https://x.com/A_IvanRodriguez" target="_blank" class="social-logo">
                  <img src="assets/icon/x.png" alt="X/Twitter">
                </a>
                <a href="https://www.instagram.com/antonivanrl/?hl=es" target="_blank" class="social-logo">
                  <img src="assets/icon/instagram.jpg" alt="Instagram">
                </a>
              </div>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Elena.jpeg"
                class="foto-participante"
              />
              <ion-title>Elena</ion-title>
              <ion-title>González Párraga</ion-title>
            </div>
            <p>
              Licenciada en Historia por la Universidad de Granada y graduada en
              Historia del Arte por la Universidad Nacional de Educación a
              Distancia, profesora en la educación pública andaluza. Desde sus
              inicios ha trabajado en metodologías como el Aprendizaje
              Cooperativo y el uso de técnicas de role-playing en el aula,
              compartiendo materiales y reflexiones honestas sobre su impacto
              educativo en su página web y en diversas redes sociales. Ha
              impartido cursos sobre Aprendizaje Cooperativo, rol en el aula,
              situaciones de aprendizaje y diversas cuestiones metodológicas
              para varias academias de opositores on-line.
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
                <a
                href="https://desociales.es/"
                target="_blank"
                style="color: #067fef; font-weight: bold"
                >Web de aula</a
              >
              <br />
              <a
                href="egparraga.es"
                target="_blank"
                style="color: #067fef; font-weight: bold"
                >Web personal</a
              >
                <a href="https://x.com/elenadesociales" target="_blank" class="social-logo">
                  <img src="assets/icon/x.png" alt="X/Twitter">
                </a>
                <a href="https://www.instagram.com/elenadesociales/" target="_blank" class="social-logo">
                  <img src="assets/icon/instagram.jpg" alt="Instagram">
                </a>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Ramon.png"
                class="foto-participante"
              />
              <ion-title>Ramón</ion-title>
              <ion-title>Rodríguez Galán</ion-title>
            </div>
            <p>
              Tutor de Educación Primaria. Formador de docentes en campos como
              las metodologías activas, la tecnología educativa y el uso seguro
              y responsable de internet y redes sociales. Colabora también con
              la universidad, en los grados de Educación Infantil y Primaria. Y
              es profesor en el Máster del Profesorado, así como en otros
              másteres enfocados a diferentes ámbitos de la educación.
              Coordinador TIC desde 2011. Es embajador en España de diferentes
              aplicaciones educativas, videojuegos y herramientas digitales,
              tales como ClassDojo, GoNoodle, Plickers y Office365. Escritor del
              libro #soyMaestro, de tuit en tuit. Coautor del libro Escuela y
              familia: Misión imposible. Coautor del libro EDU-Gamers (recursos
              videolúdicos para una sociedad educadora).
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
                <a
                href="https://proferamonrg.com/"
                target="_blank"
                style="color: #067fef; font-weight: bold"
                >Web propia</a
              >
              <br />
                <a href="https://x.com/Profe_RamonRG" target="_blank" class="social-logo">
                  <img src="assets/icon/x.png" alt="X/Twitter">
                </a>
                <a href="https://www.instagram.com/profe_ramonrg/" target="_blank" class="social-logo">
                  <img src="assets/icon/instagram.jpg" alt="Instagram">
                </a>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Tercer apartado: Primera mesa de debate -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>
            1ª MESA DE DEBATE: ¿Cuáles son las prioridades en los primeros años
            de escolarización?
          </h2>
          <div class="linea-decorativa"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Ramon.png"
                class="foto-participante"
              />
              <ion-title>Ramón </ion-title>
              <ion-title>Rodríguez Galán</ion-title>
            </div>
            <p>
              Tutor de Educación Primaria. Formador de docentes en campos como
              las metodologías activas, la tecnología educativa y el uso seguro
              y responsable de internet y redes sociales. Colabora también con
              la universidad, en los grados de Educación Infantil y Primaria. Y
              es profesor en el Máster del Profesorado, así como en otros
              másteres enfocados a diferentes ámbitos de la educación.
              Coordinador TIC desde 2011. Es embajador en España de diferentes
              aplicaciones educativas, videojuegos y herramientas digitales,
              tales como ClassDojo, GoNoodle, Plickers y Office365. Escritor del
              libro #soyMaestro, de tuit en tuit. Coautor del libro Escuela y
              familia: Misión imposible. Coautor del libro EDU-Gamers (recursos
              videolúdicos para una sociedad educadora).
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
                <a
                href="https://proferamonrg.com/"
                target="_blank"
                style="color: #067fef; font-weight: bold"
                >Web propia</a
              >
              <br />
                <a href="https://x.com/Profe_RamonRG" target="_blank" class="social-logo">
                  <img src="assets/icon/x.png" alt="X/Twitter">
                </a>
                <a href="https://www.instagram.com/profe_ramonrg/" target="_blank" class="social-logo">
                  <img src="assets/icon/instagram.jpg" alt="Instagram">
                </a>
              </div>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Andres.png"
                class="foto-participante"
              />
              <ion-title>Andrés Rivera</ion-title>
            </div>
            <p>
              Maestro de primaria desde 1998. Monitor de natación por la Real
              Federación de Natación desde 1995. Director de sala de fitness
              entre 2000 y 2003. Entrenador personal desde 2002. He publicado en
              la revista Muy Interesante. Actualmente curso Geografía e Historia
              por la UNED, simultáneamente con mi trabajo de maestro.
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
              <br />
                <a href="https://x.com/followero" target="_blank" class="social-logo">
                  <img src="assets/icon/x.png" alt="X/Twitter">
                </a>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Bianca.jpeg"
                class="foto-participante"
              />
              <ion-title>Bianca Thoilliez</ion-title>
            </div>
            <p>
              Profesora Titular de Teoría e Historia de la Educación en la
              Universidad Autónoma de Madrid. Ha completado su formación con
              estancias en el Instituto de Educación de Londres y en la
              Universidad Estatal de Pensilvania. Su investigación abarca el
              estudio de la filosofía de la educación y el análisis de políticas
              educativas.
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
                <a
                href="https://bthoilliez.wordpress.com/"
                target="_blank"
                style="color: #067fef; font-weight: bold"
                >Web propia</a
              >
              <br />
                <a href="https://x.com/bthoilliez" target="_blank" class="social-logo">
                  <img src="assets/icon/x.png" alt="X/Twitter">
                </a>
              </div>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Belinda.jpeg"
                class="foto-participante"
              />
              <ion-title>Belinda Haro</ion-title>
            </div>
            <p>
              Maestra de Audición y Lenguaje en Andalucía, con experiencia en
              tutoría de un aula específica para alumnado con Trastorno del
              Espectro Autista (TEA) y en un puesto específico destinado a la
              atención de alumnado con Trastorno Específico del Lenguaje (TEL,
              actualmente TDL). Actualmente Maestra de Audición y Lenguaje,
              centrada en el alumnado con Necesidades Específicas de Apoyo
              Educativo (NEAE). Labor en programas preventivos para la
              estimulación del lenguaje oral en Educación Infantil y en el apoyo
              al aprendizaje de la lectura en el primer ciclo de Educación
              Primaria. Participante en varios proyectos de Innovación Educativa
              y autora del blog “Siembra Estrellas” dedicado a compartir
              recursos y estrategias de intervención en el ámbito de Audición y
              Lenguaje.
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
                <a
                href="http://siembraestrellas.blogspot.com/"
                target="_blank"
                style="color: #067fef; font-weight: bold"
                >Web propia</a
              >
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Cuarto apartado: Segunda mesa de debate -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>
            2ª MESA DE DEBATE: ¿Para qué la escuela? Una mirada desde la
            Filosofía y la Cultura Clásica.
          </h2>
          <div class="linea-decorativa"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/David.jpeg"
                class="foto-participante"
              />
              <ion-title>David Cerdá</ion-title>
            </div>
            <p>
              Economista, doctor en filosofía y profesional de la gestión
              empresarial, la educación, la comunicación y la ética. Estudioso
              del comportamiento humano, ha impartido conferencias y cursos en
              ocho países y en seis idiomas. Tiene 30 años de experiencia en
              auditoría, finanzas, innovación y personas y ha ocupado puestos de
              dirección en multinacionales y pymes. En la actualidad es director
              asociado en Strategyco de Innovación y Personas e Interim Manager,
              y colabora con diversas escuelas de negocio. Publica artículos con
              regularidad en diversos medios (ABC, Disidentia, HBR Review, La
              Iberia, La Gaceta...) y ha traducido medio centenar de obras. Es
              autor de nueve libros en torno a la gestión empresarial de
              personas, la ética, el liderazgo, la creatividad, el pensamiento
              crítico y la educación, entre ellos Ética para valientes y El
              dilema de Neo.
            </p>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Carlos-Javier.jpeg"
                class="foto-participante"
              />
              <ion-title>Carlos Javier </ion-title>
              <ion-title>González Serrano</ion-title>
            </div>
            <p>
              Profesor de Filosofía y Psicología y orientador en Bachillerato.
              Es articulista en diversos medios escritos y colaborador habitual
              en radio y televisión. Colabora asiduamente con universidades
              nacionales e internacionales, director científico del Café del
              Observatorio Social de la Fundación "la Caixa". Es autor del libro
              de cuentos filosóficos infantiles El mundo según Lea y del exitoso
              ensayo Una filosofía de la resistencia. A la luz del pensar (RNE):
              https://www.rtve.es/play/audios/a-la-luz-del-pensar/ El vuelo de
              la lechuza: https://elvuelodelalechuza.com
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
                <a
                href="https://www.rtve.es/play/audios/a-la-luz-del-pensar/"
                target="_blank"
                style="color: #067fef; font-weight: bold"
                >A la luz del pensar (RNE)</a
              >
              <br />
              <a
                href="https://elvuelodelalechuza.com"
                target="_blank"
                style="color: #067fef; font-weight: bold"
                >El vuelo de la lechuza</a
              >
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Emilio.png"
                class="foto-participante"
              />
              <ion-title>Emilio Canales</ion-title>
            </div>
            <p>
              Profesor de secundaria de latín y griego, doctor en Filología
              Clásica. Ha participado como ponente en diversos cursos, simposios
              y congresos sobre didáctica de las lenguas clásicas. Coordinador
              de las 19 jornadas de la Asociación Cultura Clásica (2005-2019)
              celebradas por diversas ciudades de Andalucía y de otras partes de
              España. Miembro del comité organizador de 6 ediciones de NOVAE
              VIAE, Encuentro sobre Innovación Didáctica en Latín y Griego
              (2018-2024). Ha publicado algunas libros como Latine Disco I y II:
              Manual del alumno (Lingua Latina per Se Illvstrata) y próximamente
              aparecerá Vita Moresqve (Lingua Latina Per Se Illvstrata).
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
                <a
                href="https://culturaclasica.com/"
                target="_blank"
                style="color: #067fef; font-weight: bold"
                >Asociación Cultura Clásica</a
              >
              </div>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Olga.png"
                class="foto-participante"
              />
              <ion-title>Olga García</ion-title>
            </div>
            <p>
              Profesora de Filosofía de Enseñanza Secundaria. Codirectora de la
              Colección de Educación de Akal; coautora de Escuela o Barbarie.
              Entre el Neoliberalismo Salvaje y el Delirio de la Izquierda;
              Aprendizaje Basado en Proyectos. Un Aprendizaje Basura para el
              Proletariado; La Escuela Vaciada; La Educación Cancelada.
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
              <br />
                <a href="https://x.com/olgagfilosofia" target="_blank" class="social-logo">
                  <img src="assets/icon/x.png" alt="X/Twitter">
                </a>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Quinto apartado: Tercera mesa de debate -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>
            3ª MESA DE DEBATE: La evaluación a debate: ¿qué, cómo y para qué
            evaluar?
          </h2>
          <div class="linea-decorativa"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Javier.png"
                class="foto-participante"
              />
              <ion-title>Javier Mestre</ion-title>
            </div>
            <p>
              Catedrático de enseñanza secundaria, especialidad en lengua
              castellana y literatura. Lleva 25 años dando clase en institutos
              de pueblo y fue director de uno de ellos, el de Segura de León
              (Badajoz), entre 2002 y 2005. En la actualidad trabaja en el IES
              "Candavera", de Candeleda (Ávila). Es autor, junto con Carlos
              Fernández Liria, del ensayo Escuela y libertad. Argumentos para
              defender la enseñanza frente a políticas educativas y discursos
              pedagógicos demenciales. También es autor de varias novelas. En
              2011 salió la primera, Komatsu PC-340, una historia de amor y
              luchas ambientada en Madrid durante las obras de soterramiento de
              la M-30; en 2014 llegaría la segunda, Made in Spain, protagonizada
              por un tipo extraño y la fábrica de zapatos que hereda de sus
              padres. En 2018 publicó su última novela, Fábricas de cuentos,
              sobre los medios de comunicación y la relación entre la libertad y
              las condiciones materiales que la hacen posible.
            </p>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Antonio-Ivan.jpeg"
                class="foto-participante"
              />
              <ion-title>Antonio Iván </ion-title>
              <ion-title>Rodríguez López</ion-title>
            </div>
            <p>
              Maestro de Educación Primaria, especialidad de Educación Física.
              Actualmente cursando el Máster de Investigación e Innovación en
              Currículum y Formación en la UGR. Entrenador y coordinador de
              baloncesto, CD Ramón y Cajal, 2012-21. Ponente en talleres de
              formación como Evaluación formativa y compartida: técnicas e
              instrumentos de evaluación. Facultad de Ciencias de la Actividad
              Física y del Deporte (Universidad de Granada).
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
                <a href="https://www.youtube.com/@ant0nivanRL" target="_blank" class="social-logo">
                  <img src="assets/icon/youtube.png" alt="YouTube">
                </a>
                <a href="https://x.com/A_IvanRodriguez" target="_blank" class="social-logo">
                  <img src="assets/icon/x.png" alt="X/Twitter">
                </a>
                <a href="https://www.instagram.com/antonivanrl/?hl=es" target="_blank" class="social-logo">
                  <img src="assets/icon/instagram.jpg" alt="Instagram">
                </a>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Elena.jpeg"
                class="foto-participante"
              />
              <ion-title>Elena </ion-title>
              <ion-title>González Párraga</ion-title>
            </div>
            <p>
              Licenciada en Historia por la Universidad de Granada y graduada en
              Historia del Arte por la Universidad Nacional de Educación a
              Distancia, profesora en la educación pública andaluza. Desde sus
              inicios ha trabajado en metodologías como el Aprendizaje
              Cooperativo y el uso de técnicas de role-playing en el aula,
              compartiendo materiales y reflexiones honestas sobre su impacto
              educativo en su página web y en diversas redes sociales. Ha
              impartido cursos sobre Aprendizaje Cooperativo, rol en el aula,
              situaciones de aprendizaje y diversas cuestiones metodológicas
              para varias academias de opositores on-line.
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
                <a
                href="https://desociales.es/"
                target="_blank"
                style="color: #067fef; font-weight: bold"
                >Web de aula</a
              >
              <br />
              <a
                href="egparraga.es"
                target="_blank"
                style="color: #067fef; font-weight: bold"
                >Web personal</a
              >
                <a href="https://x.com/elenadesociales" target="_blank" class="social-logo">
                  <img src="assets/icon/x.png" alt="X/Twitter">
                </a>
                <a href="https://www.instagram.com/elenadesociales/" target="_blank" class="social-logo">
                  <img src="assets/icon/instagram.jpg" alt="Instagram">
                </a>
              </div>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Silvia.jpeg"
                class="foto-participante"
              />
              <ion-title>Silvia Toscano</ion-title>
            </div>
            <p>
              Profesora de Economía desde el año 2000. Ha ocupado diferentes
              cargos directivos, siendo actualmente Vicedirectora y Coordinadora
              del Programa del Diploma del Bachillerato Internacional en el IES
              Martínez Montañés desde 2023.
            </p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Sexto apartado: Moderadores -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Moderadores de las mesas de debate</h2>
          <div class="linea-decorativa"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Miguel.jpeg"
                class="foto-participante"
              />
              <ion-title> Miguel Ángel </ion-title>
              <ion-title>Tirado Ramos</ion-title>
            </div>
            <p>
              Profesor e inspector de educación. Ha ejercido diferentes cargos
              directivos en un instituto de educación secundaria durante once
              años. Ha sido docente en ESO, Bachillerato, Formación Profesional
              y Enseñanzas de Régimen Especial. Actualmente, ejerce de inspector
              de educación en Mallorca y es profesor asociado en la UIB. Es
              autor del libro Escuelas que enseñan: El conocimiento sí importa.
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
                <a
                href="https://www.elconocimientoimporta.com/"
                target="_blank"
                style="color: #067fef; font-weight: bold"
                >Web: El conocimiento si importa</a
              >
              </div>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Andres.png"
                class="foto-participante"
              />
              <ion-title>Andrés Rivera</ion-title>
            </div>
            <p>
              Maestro de primaria desde 1998. Monitor de natación por la Real
              Federación de Natación desde 1995. Director de sala de fitness
              entre 2000 y 2003. Entrenador personal desde 2002. He publicado en
              la revista Muy Interesante. Actualmente curso Geografía e Historia
              por la UNED, simultáneamente con mi trabajo de maestro.
            </p>
            <div class="footer-logos">
              <ion-title>Redes sociales:</ion-title>
              <div class="logos-container">
              <br />
                <a href="https://x.com/followero" target="_blank" class="social-logo">
                  <img src="assets/icon/x.png" alt="X/Twitter">
                </a>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <div class="nombre-foto">
              <img
                src="assets/participantes/Paco.jpeg"
                class="foto-participante"
              />
              <ion-title>Paco </ion-title>
              <ion-title>Benítez Velarde</ion-title>
            </div>
            <p>
              Profesor de secundaria de Inglés y Ciencias Sociales. Profesor
              visitante en EE.UU. (Charlotte, NC) y ahora en Castellón de la
              Plana. Máster Oficial de Formación de Profesores de Español como
              Lengua Extranjera por la Universidad de Barcelona.Máster en
              Teaching English as a Foreign Language por la Universidad de
              Alcalá de Henares, especialidad “Teaching Through English in
              Bilingual Schools”. Posgrado en Mediación en Situaciones de
              Conflicto en la Institución Educativa por la Universidad de
              Barcelona.
            </p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-footer class="no-border-footer"
      ><app-pie-pagina></app-pie-pagina
    ></ion-footer>
  </ion-content>
</ion-content>
