<ion-content [fullscreen]="true">
  <div class="image-container">
    <img
      src="assets/images/programa.jpeg"
      alt="Programa"
      class="responsive-image"
    />
  </div>

  <h3 class="centered-text">
    Si quieres ver o descargar el programa completo pulsa el botón
  </h3>

  <ion-button
    class="custom-button"
    fill="solid"
    style="--background: #f2c84b; --color: #000000"
    (click)="openProgramPDF()"
  >
    Programa completo
  </ion-button>

  <div class="linea-decorativa"></div>
  <ion-footer class="no-border-footer"
    ><app-pie-pagina></app-pie-pagina
  ></ion-footer>
</ion-content>
