<ion-content [fullscreen]="true">
  <div class="video-container">
    <iframe
      src="https://www.youtube.com/embed/XrG9D7GUJWQ?si=it8PFXkdv8V3Nl8F"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <ion-card>
    <ion-card-title> Presentación </ion-card-title>
    <ion-card-content>
      <p>
        <a href="https://asociacionocre.org/" target="_blank"
          >El Observatorio Crítico de la Realidad Educativa
        </a>
        <strong>(OCRE)</strong>
        y
        <a href="https://aso-apia.org/" target="_blank"
          >la Asociación de Profesores de Instituto de Andalucía
        </a>
        <strong>(APIA)</strong> organizan el
        <strong
          >IV Congreso de Expertos Docentes para un Análisis Crítico de la
          Educación</strong
        >
        , edición que se celebrará en la IES Martínez Montañés en el barrio de
        Nervión en
        <strong> Sevilla el viernes, 24 y sábado, 25 de octubre</strong>.
      </p>

      <p>
        Este encuentro, de alcance nacional, servirá para analizar la situación
        de la enseñanza en nuestro país y las posiciones que diversos académicos
        y docentes sostienen para mejorar la actual crisis educativa.
      </p>

      <p>
        Las dos ponencias centrales, y por este orden, correrán a cargo de
        <strong>Inger Enkvist</strong>, catedrática de filología española en la
        Universidad de Lund (Suecia) y autora de varios libros sobre educación
        como <em>La buena y la mala educación. Ejemplos internacionales</em>, y
        <strong>Carlos Javier González Serrano</strong>, profesor de Filosofía y
        Psicología y orientador de Bachillerato, y director científico del Café
        del Observatorio Social de la Fundación “laCaixa”.
      </p>

      <p>
        Durante las dos jornadas tendrán lugar también tres comunicaciones
        breves y tres mesas redondas en formato tertulia, con la participación
        de cuatro expertos docentes en cada una de ellas, para abordar
        problemáticas de plena actualidad: prioridades en los primeros años de
        escolarización en infantil y primaria, el objetivo y papel que debe
        jugar la escuela en las sociedades actuales, así como el importante
        proceso de evaluación.
      </p>

      <p>
        Contarán con la participación de profesores y escritores como
        <strong>Olga García</strong>, <strong>Andrés Rivera</strong>,
        <strong>Bianca Thoilliez</strong>,
        <strong>Antonio Iván Rodríguez</strong>,
        <strong>Elena González</strong>, <strong>Ramón Rodríguez Galán</strong>,
        <strong>Belinda Haro</strong>, <strong>David Cerdá</strong>,
        <strong>Emilio Canales</strong>, <strong>Javier Mestre</strong> y
        <strong>Silvia Toscano Rodríguez</strong>, bajo moderación de
        <strong>Andrés Rivera</strong>, <strong>Miguel Ángel Tirado</strong> y
        <strong>Paco Benítez</strong>.
      </p>

      <p>
        Este IV Congreso se organiza con el objetivo de que la participación
        tenga un carácter plural con diversas y distintas miradas sobre aspectos
        clave del sistema educativo, y teniendo en cuenta que los datos emanados
        de los resultados de las pruebas evaluativas internacionales
        (<strong>PIRLS</strong>, <strong>TIMSS</strong> y <strong>PISA</strong>)
        no dejan de describir una situación de crisis profunda en nuestro
        sector.
      </p>

      <p>
        El objetivo último del congreso es extraer medidas y posibles soluciones
        para sanar todos los males del sistema educativo actual: falta de
        aprendizajes básicos y decisivos en primaria que repercuten en la
        formación posterior, altos índices de malestar socioemocional de nuestro
        alumnado, falta de correspondencia entre índices de promoción y
        titulación y aprendizaje y competencia real del alumnado, la
        introducción acrítica de la tecnología en las aulas sin analizar si su
        impacto es positivo, la excesiva burocracia, la ola cada vez más grande
        de docentes con malestar mental que lleva a muchos a abandonar la
        profesión, los altos grados de conflictividad entre alumnos y a
        profesores, el empobrecimiento de los currículos, o una evaluación
        incomprensible y subjetiva.
      </p>

      <p>
        Escuchando a expertos, académicos y especialmente a docentes como
        legítimos conocedores de la realidad diaria en las aulas de primaria y
        secundaria, esperamos aportar un poco de luz para revertir la actual
        situación y encaminarnos hacia un sistema que ponga en valor el
        conocimiento y no baje los estándares académicos y de comportamiento con
        la introducción de ideas y/o metodologías no avaladas ni por la
        evidencia empírica ni por la investigación científica, y que proporcione
        una formación de calidad que permita el progreso de todo tipo de
        alumnado, en especial el de entornos socioeconómicos humildes.
      </p>

      <p>
        Nuestro deseo es que mediante este congreso se genere un debate profundo
        que informe, reflexione, analice, debata, contraste e implique al
        conjunto de la ciudadanía para fortalecer la educación en nuestro país,
        uno de los pilares para la calidad democrática y la mejora del tejido
        social y laboral, así como de desarrollo personal, de los ciudadanos.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="congresos-anteriores">
    <h3 class="titulo-congreso">
      ¿Quieres saber un poco más sobre los congresos anteriores?
    </h3>
    <h3 class="titulo-congreso">
      Aquí tienes los enlaces de sus respectivas webs:
    </h3>
    <h4>
      <a href="https://sites.google.com/view/ocre-congreso/inicio" class="enlace-congreso"
        >I Congreso en Valencia</a
      >
    </h4>
    <h4>
      <a href="https://es.fundacioepisteme.cat/congreso/" class="enlace-congreso"
        >II Congreso en Barcelona</a
      >
    </h4>
    <h4>
      <a href="https://fundacioepisteme.cat/congres/" class="enlace-congreso"
        >III Congreso en Madrid</a
      >
    </h4>
  </ion-card>

  <!-- Todas nuestras redes sociales: -->
  <div class="linea-decorativa"></div>
  <ion-footer class="no-border-footer"
    ><app-pie-pagina></app-pie-pagina
  ></ion-footer>
</ion-content>
