<ion-content [fullscreen]="true">
  <div class="logo-container">
    <img src="assets/logo/cartel.jpeg" alt="Logo" class="main-logo" />
  </div>

  <div class="grid-container">
    <ion-grid>
      <!-- Primera fila -->
      <ion-row>
        <!-- Columna 1 -->
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Sobre el congreso</ion-card-title>
              <div class="linea-decorativa"></div>
            </ion-card-header>
            <ion-card-content>
              <p>
                <a href="https://asociacionocre.org/" target="_blank"
                  >El Observatorio Crítico de la Realidad Educativa
                </a>
                <strong>(OCRE)</strong>
                y
                <a href="https://aso-apia.org/" target="_blank"
                  >la Asociación de Profesores de Instituto de Andalucía
                </a>
                <strong>(APIA)</strong> organizan el
                <strong
                  >IV Congreso de Expertos Docentes para un Análisis Crítico de
                  la Educación</strong
                >
                , edición que se celebrará en la IES Martínez Montañés en el
                barrio de Nervión en
                <strong> Sevilla el viernes, 24 y sábado, 25 de octubre</strong
                >.
              </p>
              <p>
                Este encuentro, de alcance nacional, servirá para analizar la
                situación de la enseñanza en nuestro país y las posiciones que
                diversos académicos y docentes sostienen para mejorar la actual
                crisis educativa.
              </p>
              <ion-button
                (click)="navigateToPage('congreso/info')"
                expand="block"
                style="--background: #9b7bbc"
              >
                Más información
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Columna 2 -->
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Programación</ion-card-title>
              <div class="linea-decorativa"></div>
            </ion-card-header>
            <ion-card-content>
              <img
                src="assets/images/Octubre.png"
                alt="Octubre"
                style="display: block; margin-left: auto; margin-right: auto"
              />
              <ion-button
                (click)="navigateToPage('congreso/programa')"
                expand="block"
                style="--background: #9b7bbc"
              >
                Consulta toda la programación
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Columna 3 -->
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Ponentes</ion-card-title>
              <div class="linea-decorativa"></div>
            </ion-card-header>
            <ion-card-content>
              <div class="card-content-center">
                <p>
                  <strong>PONENCIAS INDIVIDUALES:</strong><br />
                  Inger Enkvist y Carlos Javier González Serrano.
                </p>

                <p>
                  <strong>COMUNICACIONES BREVES:</strong><br />
                  Antonio Iván Rodríguez López, Elena González Párraga y Ramón
                  Rodríguez Galán.
                </p>

                <p>
                  <strong>1ª MESA DE DEBATE:</strong><br />
                  Ramón Rodríguez Galán, Andrés Rivera, Bianca Thoilliez y
                  Belinda Haro.
                </p>

                <p>
                  <strong>2ª MESA DE DEBATE:</strong><br />
                  David Cerdá, Carlos Javier González Serrano, Emilio Canales y
                  Olga García.
                </p>

                <p>
                  <strong>3ª MESA DE DEBATE:</strong><br />
                  Javier Mestre, Antonio Iván Rodríguez López, Elena González
                  Párraga y Silvia Toscano.
                </p>

                <p>
                  <strong>MODERADORES:</strong><br />
                  Miguel Ángel Tirado Ramos, Andrés Rivera y Paco Benítez
                  Velarde.
                </p>
              </div>
              <ion-button
                (click)="navigateToPage('congreso/ponentes')"
                expand="block"
                style="--background: #9b7bbc"
              >
                Ver a los ponentes
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- Segunda fila -->
      <ion-row>
        <!-- Columna 1 -->
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Cuándo y dónde</ion-card-title>
              <div class="linea-decorativa"></div>
            </ion-card-header>
            <ion-card-content>
              <div class="card-content-center">
                <p>Sevilla, viernes 24 y sábado 25 de octubre de 2025</p>
                <p>IES Martínez Montañés en Sevilla (Salón de Actos)</p>
                <p>C/ Fernández de Ribera, 17, 41005 Sevilla</p>
              </div>
              <ion-button
                slot="end"
                style="--background: #9b7bbc"
                href="https://maps.app.goo.gl/MYcxKfbKdnN6z33J7?g_st=ac"
              >
                Abrir ubicación
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Columna 2 -->
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Congresos anteriores</ion-card-title>
              <div class="linea-decorativa"></div>
            </ion-card-header>
            <ion-card-content>
              <div class="iframe-container">
                <iframe
                  src="https://www.youtube.com/embed/QgkmGSbMbrk?si=hafo2TLas_XrXO3Z"
                  title="YouTube video player"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
              <ion-button
                (click)="navigateToPage('congreso/ponencias-y-mesas-anteriores')"
                expand="block"
                style="--background: #9b7bbc"
              >
                Ver todos los vídeos
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Columna 3 -->
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Prensa</ion-card-title>
              <div class="linea-decorativa"></div>
            </ion-card-header>
            <ion-card-content>
              <p>Varios recortes prensa o texto</p>
              <ion-button expand="block" style="--background: #9b7bbc">
                Ver más artículos de prensa
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- Tercera fila -->
      <ion-row class="lastRow">
        <ion-card>
          <ion-card-title>¿Te gustaría participar?</ion-card-title>
          <ion-button expand="block" style="--background: #9b7bbc">
            ¡Inscríbete!
          </ion-button>
        </ion-card>
      </ion-row>

      <ion-row class="lastRow">
        <ion-card>
          <ion-card-title
            >¿Quieres enviarnos tu póster?</ion-card-title
          >
          <ion-button expand="block" style="--background: #9b7bbc">
            Bases para participar
          </ion-button>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Organizadores -->

  <div class="organizadores-container">
    <div class="linea-decorativa"></div>
    <h3>ORGANIZADORES</h3>
    <div class="logos-organizadores">
      <a href="https://asociacionocre.org/" target="_blank">
        <img src="assets/logo/Ocre.jpg" alt="Ocre" class="logo-organizador" />
      </a>
      <a href="https://aso-apia.org/" target="_blank">
        <img src="assets/logo/APIA.png" alt="APIA" class="logo-organizador" />
      </a>
    </div>
  </div>

  <div class="linea-decorativa"></div>
  <ion-footer class="no-border-footer"
    ><app-pie-pagina></app-pie-pagina
  ></ion-footer>
</ion-content>
