<!-- Todas nuestras redes sociales: -->
<div class="organizadores-container">
  <!-- Sección OCRE -->
  <div class="linea-decorativa"></div>
  <h3>redes OCRE:</h3>
  <div class="social-logos">
    <div class="logos">
      <a href="https://x.com/AsociacionOcre" target="_blank" class="logo-redes">
        <img src="assets/icon/x.png" alt="X" />
      </a>
      <a
        href="https://www.facebook.com/OCRE.EDU"
        target="_blank"
        class="logo-redes"
      >
        <img src="assets/icon/facebook.png" alt="Facebook" />
      </a>
      <a
        href="https://www.youtube.com/@associacioocre4691"
        target="_blank"
        class="logo-redes"
      >
        <img src="assets/icon/youtube.png" alt="YouTube" />
      </a>
      <a
        href="https://bsky.app/profile/asociacionocre.bsky.social"
        target="_blank"
        class="logo-redes"
      >
        <img src="assets/icon/Bluesky.png" alt="Bluesky" class="icon-bluesky"/>
      </a>
    </div>
  </div>
  <!-- Sección APIA -->
  <h3>redes APIA:</h3>
  <div class="social-logos">
    <div class="logos" style="margin-bottom: 15px">
      <a
        href="https://x.com/apiaprofesores"
        target="_blank"
        class="logo-redes"
      >
        <img src="assets/icon/x.png" alt="X" />
      </a>
      <a
        href="https://www.facebook.com/aso.APIA"
        target="_blank"
        class="logo-redes"
      >
        <img src="assets/icon/facebook.png" alt="Facebook" />
      </a>
      <a
        href="https://www.youtube.com/@APIAandalucia"
        target="_blank"
        class="logo-redes"
      >
        <img src="assets/icon/youtube.png" alt="YouTube" />
      </a>
      <a
        href="https://www.instagram.com/apia_educacion/"
        target="_blank"
        class="logo-redes"
      >
        <img src="assets/icon/instagram.jpg" alt="YouTube" />
      </a>
    </div>
  </div>
  <h4>© 2025 – Sitio web desarrollado por Ronald Hernández · Contacto: ronald.hernandez.inf&#64;gmail.com</h4>
</div>


<!-- AVISOS LEGALES-->
<div class="legal-container" >
  <a href="/congreso/aviso-legal"><h3>Aviso Legal</h3></a>
  <a href="congreso/politica-privacidad"><h3>Política de privacidad</h3></a>
  <a href="/congreso/cookies"><h3>Política de cookies</h3></a>
  <a href="/congreso/configuracion-cookies"><h3>Configuración de cookies</h3></a>
</div>